$dark-gray: #999;
.Searchbar {
  border: 1px $dark-gray solid;
  border-radius: 3rem;
  height: 35px;
  display: flex;
  margin: 0;
  align-items: center;
  input {
    appearance: none;
    border: none;
    background: transparent;
    height: 30px;
    width: 80%;
    margin: 5px;
    color: $dark-gray;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  svg {
    flex: 0 0 auto;
    margin: 3px 10px;
    color: $dark-gray;
  }
  &-Clear {
    &:hover {
      cursor: pointer;
      display: block;
      height: 100%;
    }
  }
}
