$light-gray: #edeae9;
$dark-gray: #777;
.ProductItem {
  border: 0.5px solid $light-gray;
  margin: -1px;
  padding: 0.5rem;

  &-Thumbnail {
    width: 20%;
    min-width: 25px;
    height: 70px;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    display: flex;
    margin: 0 0.5rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
  }

  &-Price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    .amount {
      display: flex;
      position: absolute;
      right: 1rem;
      font-weight: bold;
      font-size: small;
      align-items: flex-start;
      .discount {
        color: $dark-gray;
      }
      .discount.price {
        text-decoration: line-through;
      }
    }
  }

  &-Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    p {
      margin-bottom: 0;
      display: flex;
      align-items: flex-start;
    }

    &-Name {
      font-weight: bold;
    }

    &-Category {
      font-weight: lighter;
      font-size: smaller;
      color: $dark-gray;
    }
  }
}
