.ProductList {
  .ProductList-Header {
    margin: 2rem 0 1rem 0;
    display: flex;
    h6 {
      border-bottom: 3px orange solid;
      display: inline-flex;
      text-transform: uppercase;
      color: #333;
      padding-bottom: 2px;
      font-size: small;
    }
   
  }
}